* {
    box-sizing: border-box;
}

body {
    color: #A16A5E;
}

#artistHomePage {
    background-color: #FCEBD5 !important;
}

nav h1 {
    margin-bottom: 0;
    margin-top: 20px;
    padding-bottom: 0;
    font-family: 'Reenie Beanie';
    font-style: italic;
    color: #A16A5E;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

p {
    margin-bottom: 10px;
    padding-bottom: 0;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

* p:last-child {
    margin-bottom: 0;
}

.pointer {
    cursor: pointer;
}

.heading-layout {
    width: 100%;
    height: 70px;
    background-color: #FCEBD5;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 104px;
    height: 104px;
    margin-top: 25px;
    z-index: 9999999;
}

.card-brown {
    color: #FCEBD5;
    background-color: #A16A5E;
    border-radius: 2px solid #A16A5E;
    width: 43%;
}

.card-brick {
    background-color: #D44C2E;
    border-radius: 2px solid #D44C2E;
    color: #FCEBD5;
}

.price {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
}
.nav-link {
    transition: 0.7s ease;
}

.icon i {
    display: flex;
    color: #A16A5E;
    text-decoration: none;
    background-color: transparent;
    font-size: x-large;
}

.icon:hover, .icon a:hover {
    color: #A16A5E;
    text-decoration: none;
}

#myLinks {
    position: absolute;
    z-index: 988888;
    width: 100%;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(161, 106, 94, 1);
}

.myLinksDisplay {
    color: #FCEBD5;
    background-color: rgba(161, 106, 94, 1);   
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    display: none;
}

.myLinksDisplay .myBtn {
    color: #FCEBD5;
    background-color: rgba(161, 106, 94, 1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: #FCEBD5;
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0.1em;
    text-align: center;
    border: none;
}

.myLinksDisplay .myBtn:hover {
    color:#EDD5BB;
}

.btnDays {
    padding: 2px 12px;
    border: none;
    border-radius: 2px;
    font-family: 'Roboto';  
    color: #FCEBD5;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

div .btnDays:last-child {
    margin-right: 0;
}

.bg-brown {
    background-color: #A16A5E;
}
.bg-brown:hover {
    background-color: #D44C2E;
}

.designChart {
    height: 30vh !important;
    padding-top: 48px;
    margin-left: auto;
    margin-right: auto;
}