* {
    box-sizing: border-box;
}

body {
    color: #A16A5E;
}

#landingPage {
    height: 100vh;
    background-color: #FCEBD5;
}

h1 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'Reenie Beanie';
    font-style: italic;
    font-size: 50px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
}

.position-relative {
    position: relative;
}

a {
    text-decoration: none !important;
}

nav h1 {
    margin-bottom: 0;
    margin-top: 20px;
    padding-bottom: 0;
    font-family: 'Reenie Beanie';
    font-style: italic;
    color: #A16A5E;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.heading-layout {
    width: 100%;
    height: 70px;
    background-color: #FCEBD5;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 104px;
    height: 104px;
    margin-top: 25px;
    z-index: 9999999;
}

.logo-layout {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.dropdown-artist-list, * option {
    color: #A16A5E;
    text-align: center;
    border: 2px solid #A16A5E;
    padding: 5px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute !important;
    background-color: #FCEBD5;
    top: 20%;
    width: 40%;
}

.dropdown-artist-list::after {
    margin-left: 10px;
}

.dropdown-artist-list a {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    color: #A16A5E;
}

.dropdown-artist-list a:hover {
    color: #A16A5E;
    background-color: #edd5bb;
}

.pointer {
    cursor: pointer;
}

.polygon1 {
    height: 500px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 20%, 0% 0%);
    position: relative;
}

.polygon2 {
    height: 500px;
    clip-path: polygon(0% 0%, 0% 1%, 100% 41%, 100% 60%, 0% 60%);
}

.content1 {
    position: absolute;
    left: 17%;
    padding-top: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
    background-color: #edd5bb;
}

.content2 {
    top: 90px;
    left: 1px;
    padding-top: 200px;
    background-color: #a16a5e;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.polygon1:hover{
    z-index: 1;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.polygon2:hover {
    z-index: 1;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

/* loader design */
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

.centered-and-darken {
    width: 100%;
    height: 100vh;
    background-color: rgba(12, 12, 12, 0.583);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.centered-and-darken span {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

/* responsive */
@media (max-width: 390px) and (min-width: 357px) {
    .content1 h1,
    .content2 h1 {
        font-size: 43px;
    }
}

@media (max-width: 356px) and (min-width: 320px) {
    .content1 h1,
    .content2 h1 {
        font-size: 40px;
    }
    .offset-6 {
        margin-left: 43%;
    }
}

@media (min-width: 391px) {
    .content1 h1,
    .content2 h1 {
        font-size: 49px;
    }
    .offset-6 {
        margin-left: 52%;
    }
}
