* {
    box-sizing: border-box;
}

body {
    background-color: #EDD5BB;
    color: #A16A5E;
}

h1 {
    margin-bottom: 0;
    margin-top: 20px;
    padding-bottom: 0;
    font-family: 'Reenie Beanie';
    font-style: italic;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

p {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* header */
.heading-layout {
    width: 100%;
    height: 70px;
    background-color: #FCEBD5;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 104px;
    height: 104px;
    margin-top: 25px;
    z-index: 9999999;
}

#auctionSymbol {
    width: 100%;
    height: 35px;
}
/* header end*/

h4 {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}
.card img {
    width: 100%;
    height: 30vh;
    display: inline-block;
}

.card-beige {
    background-color:#FCEBD5;
    color: #A16A5E;
}

.price-brown {
    width: 13%;
    height: 3%;
    padding: 3px 5px;
    border: #A16A5E;
    border-radius: 5px;
    background-color: #A16A5E;
    color: #FCEBD5;
    font-weight: bold;
    font-size: small;
    text-align: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.card-brown {
    color: #FCEBD5;
    background-color: #A16A5E;
}

.price-beige {
    width: 13%;
    height: 3%;
    padding: 3px 5px;
    border: #FCEBD5;
    border-radius: 5px;
    background-color: #FCEBD5;
    color: #A16A5E;
    font-weight: bold;
    font-size: small;
    text-align: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}


/* filter button */
.filter-button {
    background-color: #D44C2E;
    color: #FCEBD5;
    width: 80px;
    height: 80px;
    right: 25px;
    bottom: 25px;
    padding: 0;
    margin: 0;
    position: fixed;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.filter-button i {
    font-size: 60px;
    padding: 15px 10px;
}

.filter-button:hover {
    color: #FCEBD5;
}

.filter-button-checked {
    background-color: #D44C2E;
    color: #FCEBD5;
    width: 80px;
    height: 80px;
    right: 25px;
    bottom: 30px;
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.filter-button-checked:hover {
    color: #FCEBD5;
}

.nav-link {
    transition: 0.7s ease;
}

/*overlay */
.overlay {
    top: 70px;
    width: 0;
    right: 0;
    position: absolute;
    background-color: rgba(161, 106, 94, 1);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 9998;
    color: #FCEBD5;
    /* direction: rtl; */
}

.overlay-content {
    position: relative;
    text-align: left;
    color: #FCEBD5 !important;
    font-family: 'Roboto';
}

.overlay a {
    padding-bottom: 35px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #FCEBD5;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #FCEBD5;
}

.overlay .closebtn {
    top: 20px;
    right: 5px;
    padding: 0;
    font-size: 40px;
    font-weight: normal;
}

.overlay h2 {
    top: 20px;
    left: 5px;
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}

.overlay-content  {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #EDD5BB;
}

.button-label {
    width: 100px;
    height: 30px;
    padding: 0 10px;
    color: #EDD5BB;
    text-align: left;
    border: 1px solid #EDD5BB;
}

.overlay-content .nav-item {
    border-bottom: 2px solid #FCEBD5;
}

.pointer {
    cursor: pointer;
}

.overlay ul li input {
    box-shadow: none;
    background-color: transparent;
    color: #EDD5BB;
    border-radius: 2px;
    Width: 97px;
    Height: 27px;
}

input[type=number] {
    -moz-appearance: textfield;
}

.overlay ul li select {
    color: #EDD5BB;
    background-color: transparent;
    box-shadow: none;
    Width: 97px;
    Height: 30px;
}

.option {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    color: #A16A5E;
    background-color: transparent;
}

.option:hover {
    color: #A16A5E;
    background-color: #edd5bb;
}


