* {
    box-sizing: border-box;
}

body {
    background-color: #FCEBD5;
    color: #A16A5E;
}

nav h1 {
    margin-bottom: 0;
    margin-top: 20px;
    padding-bottom: 0;
    font-family: 'Reenie Beanie';
    font-style: italic;
    color: #A16A5E;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.brick {
    width: 70px;
    height: 20px;
    background-color: #fbfbfb75;
    border-radius: 5px;
    margin: 4px;
}

.btn-brown {
    height: 10%;
    padding: 6px 10px;
    border: #A16A5E;
    border-radius: 5px;
    background-color: #A16A5E;
    color: #FCEBD5;
    font-weight: bold;
    text-align: center;
}

.position-relative {
    position: relative;
}

.position-absolute-masterpiece {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.heading-layout {
    width: 100%;
    height: 70px;
    background-color: #FCEBD5;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 104px;
    height: 104px;
    margin-top: 25px;
    z-index: 9999999;
}

.auctionSymbol {
    width: 35px;
    height: 35px;
    margin-top: 16px;
    margin-right: 8px;
}

.master-heading {
    font-family: 'Roboto';
    width: 60%;
    font-size: 30px;
    font-weight: bolder;
    font-style: normal;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: #A16A5E !important;
    cursor: pointer;
    position: absolute;
    margin-top: 0px;
    padding: 0px;
}

#carouselExampleControls img {
    width: 90px;
    height: 90px;
}

.image-border {
    border: 2px solid #A16A5E;
}

.position-absolute-image {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blockquote-peach {
   background-color: #e09686;
    padding-top: 30px;
}

blockquote p {
    margin-bottom: 0;
}

.right-text {
    font-weight: 100;
}


/* infiniti loop carousel - 1 */
#carousel1, #carousel2 {
    background-color: #EDD5BB;
    height: 31vh;
}
.slider1 {
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track1 {
    display: flex;
    justify-content: start;
    width: calc(250px * 8);
    animation: scroll1 40s linear infinite;
}

.slide-track1:hover {
    animation-play-state: paused;
}

.slide1 {
    height: 150px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide1 img {
    width: 100%;
    transition: 2s;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.slide1 img:hover {
    transform: translateZ(10px);
    opacity: 0.5;
}

@keyframes scroll1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 4));
    }
}

/* infiniti loop carousel - 2 */
.slider2 {
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track2 {
    display: flex;
    justify-content: left;
    width: calc(250px * 8);
    animation: scroll2 50s linear infinite;
}

.slide-track2:hover {
    animation-play-state: paused;
}

.slide2 {
    height: 150px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide2 img {
    width: 100%;
    transition: 2s;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.slide2 img:hover {
    transform: translateX(10px);
    opacity: 0.5;
}

@keyframes scroll2 {
    0% {
        transform: translateX(calc(-250px * 6));
    }

    100% {
        transform: translateX(calc(250px * 1));
    }
}