.navbar-brand img {
    height: 50px;
    width: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    size: 100%;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: red !important;
}


.bg-banner {
    position: relative;
    background-image: linear-gradient(rgba(65, 65, 65, 0.391), rgba(65, 65, 65, 0.391)), url('./images/stairs.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.activefilter:hover {
    background-color: red;
    color: #343a40 !important;
}

.card {
    border: none;
    border-radius: 15px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.card:hover {
    z-index: 1;
    transform: scale(1.1);
}

.card-img-top {
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card img {
    width: 100%;
    display: block;
    height: 35vh !important;
}

.fa-heart {
    margin: 5px;
    color: red;
}

.bg-warning2 {
    background-color: #fbc940;
}


.shadow {
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .075) !important;
}

.summary {
    padding-bottom: 46px !important;
}

.pointer {
    cursor: pointer;
}


/* валидација на податоци */

    .input-control {
        display: flex;
        flex-direction: column;
    }

    .input-control input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        font-size: 12px;
        padding: 10px;
        width: 100%;
    }

    .input-control input:focus {
        outline: 0;
    }

    .input-control.success input {
        border-color: #09c372;
    }

    .input-control.error input {
        border-color: #ff3860;
    }

    .input-control .error {
        color: #ff3860;
        font-size: 9px;
        height: 13px;
    }
/* валидација на податоци */

/* redponsive za tablet */
@media (max-width: 768px) {
    .justify-left {
        text-align: left !important;
        padding-left: 25px;
    }

    .cards-center {
        justify-content: center !important;
    }

}
/* redponsive za tablet - end  */

/* responsive for hamburger  */
/* responsive for hamburger - end */