* {
    box-sizing: border-box;
}
body {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 0;
    }
h1 {
    font-family: 'Century', serif;
}
h2, h3, h4, h5 {
    font-family: 'Cormorant Infant', serif;
}
.navbar-brand img {
    height: 100%;
    width: 100%;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    size: 100%;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: red !important;
}

.absolute-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hamburger menu */

.container {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburber {
    width: 30px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.hamburber::before {
    content: "";
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    transform: translateY(-10px);
}

.hamburber::after {
    content: '';
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    transform: translateY(10px);
}

.activeHamburger {
    width: 30px;
    height: 3px;
    border-radius: 5px;
    transform: translateX(-50px);
    background: transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.activeHamburger::before {
    content: '';
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    transform: rotate(45deg) translate(35px, -35px);
}

.activeHamburger::after {
    content: '';
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    transform: rotate(-45deg) translate(35px, 35px);
}
.sidenav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    transform: translateX(100%);
    transition: all 0.1s ease-in-out;
    z-index: 2222222;
}
.activeSidenav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
    z-index: 222222222;
    left: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li a {
    color: black;
}
.menu-footer {
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.011em;
    text-align: left;
    display: column;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.menu-footer p {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 0;
}
.menu-footer-button {
    width: 45px;
    height: 45px;
    border-radius: 6.24px;
    border: 0.62px lightgray;
    box-shadow: 0px 0px 1.872483253479004px 0px #C2C2C2;
    background: linear-gradient(0deg, #FFF7F7, #FFF7F7);
    position: relative;
    align-self: center;
    align-self: center;
}
.menu-footer img {
    width: 30px;
    height: 28px;
    top: 9px;
    left: 6px;
    position: absolute;
}

/* ______________________________ */

/*[ Modal search ]*/
.modal-search-header {
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100%;
    bottom: 101%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
}
.show-modal-search {
    bottom: 0;
}
.container-search-header {
    width: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

/*---------------------------------------------*/
.btn-hide-modal-search {
    position: absolute;
    right: 20px;
    bottom: 0px;
    opacity: 0.8;
}

.btn-hide-modal-search:hover {
    opacity: 1;
}

.wrap-search-header {
    width: 100%;
    background: #fff;
}
.btn-search {
    border: none;
    background-color: transparent;
}
/*---------------------------------------------*/
.wrap-search-header input {
    border-radius: 10px;
    border: 2px solid lightgray;
    gap: 146px;
    width: calc(100% - 60px);
    height: 50%;
    background-color: transparent;
}
.wrap-search-header button:hover {
    color: #6c7ae0;
}

/*---------------------------------------------*/
/* @media (max-width: 767px) {

    .wrap-search-header input,
    .wrap-search-header button {
        font-size: 30px;
    }

    .wrap-search-header {
        height: 90px;
    }
}

@media (max-width: 575px) {

    .wrap-search-header input,
    .wrap-search-header button {
        font-size: 20px;
    }

    .wrap-search-header button {
        width: 40px;
    }

    .wrap-search-header {
        height: 80px;
    }
} */

/*//////////////////////////////////////////////////////////////////
[ Filter ]*/
.show-search .icon-search,
.show-filter .icon-filter {
    display: none;
}

.show-search .icon-close-search,
.show-filter .icon-close-filter {
    display: unset;
}

.show-search,
.show-filter {
    background-color: #f2f2f2;
    border-color: #e7e7e7;
    position: relative;
}

.show-search::after,
.show-filter::after {
    content: "";
    position: absolute;
    display: block;

    width: 14px;
    height: 14px;
    background-color: #f2f2f2;
    border-left: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;

    transform-origin: center center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    left: calc(50% - 7px);
    bottom: -8px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.show-search:hover:after,
.show-filter:hover:after {
    background-color: #717fe0;
    border-color: #717fe0;
}

/*---------------------------------------------*/
.filter-col1 {
    width: 27%;
}

.filter-col2 {
    width: 27%;
}

.filter-col3 {
    width: 26%;
}

.filter-col4 {
    width: 20%;
}

/*---------------------------------------------*/
.filter-link {
    color: #aaa;
    border-bottom: 1px solid transparent;
}

.filter-link:hover {
    color: #6c7ae0;
    border-bottom: 1px solid #6c7ae0;
}

.filter-link-active {
    color: #6c7ae0;
    border-bottom: 1px solid #6c7ae0;
}

.rs1-select2 .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: none;
  font-family: 'Cormorant Garamond', serif;
  font-size: 13px;
  color: #555;
  line-height: 1.2;
}
/* 
@media (max-width: 767px) {

    .filter-col1,
    .filter-col2,
    .filter-col3,
    .filter-col4 {
        width: 50%;
    }
}

@media (max-width: 575px) {

    .filter-col1,
    .filter-col2,
    .filter-col3,
    .filter-col4 {
        width: 100%;
    }
} */

/* search end  */
form label {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 14.52px;
}
.btnProfilePicture {
    max-width: 100%;
    top: 345.29px;
    left: 137.49px;
    border-radius: 8.41px;
}

.PrimaryBtn {
    width: 220px;
    height: 40px;
    top: 400px;
    left: 70px;
    border-radius: 13px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}

.SecondaryBtn {
    width: 220px;
    height: 40px;
    top: 400px;
    left: 70px;
    border-radius: 13px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.banner-bcg {
    background: linear-gradient(180deg, #FFDBDB 0.05%, #FDFDFD 93.1%, #FDFDFD 110.6%, #8A8328 152.03%);
    display: flex;
    flex-direction: column;

}
.banner-picture {
    width: 92.5%;
    position: relative;
    height: 383px;
    left: 30px;
    top: 20px;
    overflow-x: hidden;
}
.img1-span {
    position: absolute;
    top: 0px;
    left: -10px;
}
.img2-span {
    position: absolute;
    top: 6px;
    left: 34px;
}

.banner-span {
    position: absolute;
    top: 30%;
    left: 12%;
}

.banner-span > span {
    width: 40px;
    height: 25px;
    rotate: -16deg;
    position: absolute;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.011em;
    text-align: center;
    color: #FF5B29;
}

.banner-text-wrapper {
    font-family: 'Cormorant Garamond', serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.011em;
    text-align: center;
    color: #666560;
}
.btn-pink-circle {
    background: linear-gradient(180deg, #FFDBDB 0.05%, #FDFDFD 93.1%, #FDFDFD 110.6%, #8A8328 152.03%);
    color: black;
    width: 240px;
    height: 240px;
    top: 395px;
    left: 30px;
    border-radius: 120px;
    border: 1.25px solid #232221;
    position: absolute;
}

.btn-pink-circle-hover {
    background: linear-gradient(99.4deg, #FFF0BF -10.68%, #EFC990 18.14%, #FDD292 43.87%, rgba(240, 199, 73, 0.42) 81.17%, #D4AF37 100%);
}
.btn-pink-circle-hover .img1-span, .img2-span {
    color: #FF5B29;
}

.btn-white-circle {
    background: linear-gradient(0deg, #FDFDFD, #FDFDFD);
    border: 1.25px solid #232221;
    width: 240px ;
    height: 240px;
    top: 2025px;
    left: 270px;
    border-radius: 120px;
    border: 1.25px solid #232221;
    position: absolute;
}



/* // --- >   announcement-bar  <------  */

.announcement-bar__message {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Cormorant Infant', serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.011em;
    text-align: center;
    white-space: nowrap;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 27s linear infinite;
}

.announcement-bar {
    overflow: hidden;
    top: 69px;
    background-color: #FFF6F6;
    height: 45px;
    width: 100%;
}

.announcement-bar p {
    margin: 0;
}

.announcement-bar img {
    width: 23.73px;
    height: 23.73px;
    top: 0.79px;
    left: 0.79px;
    margin-left: 15px;
    margin-right: 15px;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* @media only screen and (max-width: 800px) {
    .announcement-bar__message {
        font-size: 13px;
        animation: scroll-left 20s linear infinite;
    }

    .home-page-video video {
        width: 100%;
    }

    #shopify-section-slideshow img,
    .index-slideshow-section img {
        height: unset !important;
    }

    #shopify-section-slideshow,
    #shopify-section-slideshow .slick-list,
    .index-slideshow-section,
    .index-slideshow-section .slick-list {
        height: 400px;
    }

    @-moz-keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
        }

        100% {
            -moz-transform: translateX(-150%);
        }
    }

    @-webkit-keyframes scroll-left {
        0% {
            -webkit-transform: translateX(100%);
        }

        100% {
            -webkit-transform: translateX(-150%);
        }
    }

    @keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }

        100% {
            -moz-transform: translateX(-150%);
            -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
        }
    }
}

@media only screen and (max-width: 600px) {

    #shopify-section-slideshow,
    #shopify-section-slideshow .slick-list,
    .index-slideshow-section,
    .index-slideshow-section .slick-list {
        height: 260px;
    }

}

@media only screen and (max-width: 500px) {

    #shopify-section-slideshow,
    #shopify-section-slideshow .slick-list,
    .index-slideshow-section,
    .index-slideshow-section .slick-list {
        height: 240px;
    }

} */

/* / ------------------------- /  */